$jgo-mask: #00000040;
$jgo-bar: #404040;
$jgo-bar-bn: #FFFFFF;
$jgo-bar-bn-bg: transparent;
$jgo-menu-bg: #404040;
$jgo-menu: #FFFFFF;
$jgo-footer-bg: #007D9C;
$jgo-message: #70707070;
$jgo-code: #FFFFFF;
$jgo-code-bg: #202020D0;
$jgo-warning: #F78E1E;
$jgo-footer-dream-ja: #000;
$jgo-log-bg: #202020D0;
$jgo-log: #FFFFFF;
