<img class="logo" src="assets/images/logo.svg" alt="Logo">
<div class="py-5">
  <h2>JGo provides an easier configuration for writing sql, log, and cron jobs.</h2>
</div>
<div class="py-5">
  <h1 class="fw-bold">Github</h1>
  <hr>
  <div>
    <div class="row mb-3">
      <div class="col-md-3">JGo</div>
      <div class="col-md-9">
        <a href="https://github.com/xjustloveux/jgo">https://github.com/xjustloveux/jgo</a>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">JGo Web</div>
      <div class="col-md-9">
        <a href="https://github.com/xjustloveux/jgo.web">https://github.com/xjustloveux/jgo.web</a>
      </div>
    </div>
  </div>
  <div class="py-5">
    <h1 class="fw-bold">Installation</h1>
    <hr>
    <div class="code">
      <label>go get github.com/xjustloveux/jgo</label>
    </div>
  </div>
</div>
