<img class="logo" src="assets/images/logo.svg" alt="Logo">
<div class="py-5">
  <h2>JGo provides an easier configuration for writing sql, log, and cron jobs.</h2>
</div>
<div class="py-5">
  <h1 class="fw-bold">Github</h1>
  <hr>
  <div>
    <div class="row mb-3">
      <div class="col-md-3">JGo</div>
      <div class="col-md-9">
        <a href="https://github.com/xjustloveux/jgo">https://github.com/xjustloveux/jgo</a>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">JGo Web</div>
      <div class="col-md-9">
        <a href="https://github.com/xjustloveux/jgo.web">https://github.com/xjustloveux/jgo.web</a>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">JGoC</div>
      <div class="col-md-9">
        <a href="https://github.com/xjustloveux/jgoc">https://github.com/xjustloveux/jgoc</a>
      </div>
    </div>
  </div>
  <div class="py-5">
    <h1 class="fw-bold">Installation</h1>
    <hr>
    <div class="code">
      <label>go get github.com/xjustloveux/jgo</label>
    </div>
  </div>
  <div class="py-5">
    <h1 class="fw-bold">API</h1>
    <hr>
    <div>
      <ng-container *ngFor="let item of apiList; let idx = index">
        <ng-container *ngIf="idx > 0"> , </ng-container>
        <a [href]="item.url">{{item.name}}</a>
      </ng-container>
    </div>
  </div>
  <div class="py-5">
    <h1 class="fw-bold">MESSAGE</h1>
    <hr>
    <div>
      <ul class="nav nav-tabs">
        <li class="nav-item" *ngFor="let tab of tabs; let idx = index">
          <a [class]="'nav-link ' + (tab.active ? 'active' : '')" href="javascript:void(0);" (click)="tabClick(idx)">
            {{ tab.dbType }}
          </a>
        </li>
      </ul>
      <div class="d-flex mt-2 justify-content-between" [formGroup]="form">
        <div class="row w-85">
          <div class="col-md-9 mb-3">
            <div class="form-group row">
              <label class="col-3 form-label">message:</label>
              <div class="col-9">
                <input type="text" class="form-control" formControlName="content" [ngClass]="isInvalid('content')">
                <div class="invalid-feedback">{{errorMsg('content')}}</div>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <button class="btn btn-outline-dark px-5" (click)="createMsg()">Send</button>
          </div>
        </div>
        <div class="float-end mt-auto">
          Total : {{ getActiveTabRes().totalRecord }}
        </div>
      </div>
      <div class="row p-2 message" *ngFor="let msg of getActiveTabRes().rows">
        <div class="col-4 p-1">{{ getTime(msg.ct_date) }}</div>
        <div class="col-8 p-1">{{ msg.content }}</div>
      </div>
      <div class="d-flex justify-content-between">
        <select class="form-control size-w" [ngModel]="nowSize" (ngModelChange)="sizeChange($event)">
          <option [value]="s" *ngFor="let s of size">{{ s }}</option>
        </select>
        <div class="d-flex mt-auto">
          <a href="javascript:void(0);" (click)="prevPage()"><</a>
          <div class="px-2">{{ getActiveTab().page }}</div>
          <a href="javascript:void(0);" (click)="nextPage()">></a>
        </div>
        <div class="d-flex float-end">
          <input type="number" class="form-control page-w me-2" [ngModel]="nowPage">
          <button class="btn btn-outline-dark px-3" (click)="pageClick()">Go</button>
        </div>
      </div>
    </div>
  </div>
</div>
