<div class="menu-bar">
  <button (click)="bnClick()">
    <i-bs name="list" width="2rem" height="2rem"></i-bs>
  </button>
</div>
<div [class]="'menu' + (menuOpen ? ' active' : '')">
  <i-bs name="x-lg" width="2rem" height="2rem" (click)="bnClick()"></i-bs>
  <ul>
    <ng-container *ngFor="let item1 of menu">
      <li>
        <a class="cursor-default" href="javascript:void(0);" *ngIf="item1.LIST.length > 0 else layer1">
          {{item1.PRO_NAME}}
        </a>
        <ng-template #layer1>
          <a routerLink="{{item1.PRO_URL}}" routerLinkActive="text-info">{{item1.PRO_NAME}}</a>
        </ng-template>
        <div class="child" *ngIf="item1.LIST.length > 0">
          <ng-container *ngFor="let item2 of item1.LIST">
            <a routerLink="{{item2.PRO_URL}}" routerLinkActive="text-info">{{item2.PRO_NAME}}</a>
          </ng-container>
        </div>
      </li>
    </ng-container>
  </ul>
</div>
<div [class]="'menu-mask' + (menuOpen ? ' active' : '')" (click)="bnClick()"></div>
