<div class="menu-bar">
  <button (click)="bnClick()">
    <i class="bi bi-list fs-5"></i>
  </button>
</div>
<div [class]="'menu' + (menuOpen ? ' active' : '')">
  <i class="bi bi-x-lg fs-5" (click)="bnClick()"></i>
  <ul>
    <ng-container *ngFor="let item1 of menu">
      <li>
        <a class="cursor-default" href="javascript:void(0);" *ngIf="item1.child.length > 0 else layer1">
          {{ item1.name }}
        </a>
        <ng-template #layer1>
          <a routerLink="{{item1.url}}" routerLinkActive="text-info">{{ item1.name }}</a>
        </ng-template>
        <div class="child" *ngIf="item1.child.length > 0">
          <ng-container *ngFor="let item2 of item1.child">
            <a routerLink="{{item2.url}}" routerLinkActive="text-info">{{ item2.name }}</a>
          </ng-container>
        </div>
      </li>
    </ng-container>
  </ul>
</div>
<div [class]="'menu-mask' + (menuOpen ? ' active' : '')" (click)="bnClick()"></div>
